.container {
    background: #181818;
    padding: 1rem;
    border-radius: 10px;
    min-height: 500px;

    display: flex;
    flex-direction: column;
}

.input {
    padding: .8rem;
    margin-bottom: 1rem;

    font-size: 1rem;

    border: none;

    border-radius: 6px;
}

.button {
    margin-top: auto;

    padding: .8rem;

    border: none;

    border-radius: 6px;

    cursor: pointer;

    background: #1db954;

    color: white;

    font-weight: bold;
}

.button:disabled {

    opacity: .5;

    cursor: not-allowed;

}